.user-header {
    color: #fff;
    margin-bottom: 2rem;
}

.edit-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
      margin-top: 0px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
}

.edit-buttons-container{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.edit-label {
    color: #2c3e50;
}

.edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}